
@{
    ViewBag.Title = "YeniMusterı";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>
            Müşteri Adı
        </label>
        <input type="text" name="MUSTERIAD" class="form-control" />
    </div>
    <div>
        <label>
            Müşteri Soyadı
        </label>
        <input type="text" name="MUSTERISOYAD" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">
            Müşteri Ekle
        </button>
    </div>
</form>